.div1{
    margin-top: 140px;
}
.div2{
    margin-top: 140px;
}
.rowsetting4{
    margin-top: 150px;
    margin-bottom: 140px;
}

.blackrow h2{
    margin-top: 50px;
    font-weight: bold;
    
}
.blackrow img{
    margin-top: 50px;
    width:200px;
    margin-left: 40px;
}
.blackrow p{
    font-size: 18px;
    line-height: 40px;
}
.blackrow hr{
    height: 2px;
}
.footer{
    height: 70px;
    background-color: rgb(42, 41, 41);
}
.footer p{
    padding-top: 20px;
}